/*
    Information table
    -----------------
    
    This is a regular HTML table used to display key/value/description pairs.
*/

table.values
{
    border-spacing: 0px;
    border-collapse: collapse;
    background-color: #E5E5E5;
    border: 10px solid #E5E5E5;
}
table.values th
{
    text-align: left;
    font-weight: normal;
    padding: 0.1em 0.5em;
}
table.values td
{
    text-align: right;
    border-left: 1px solid #666666;
    padding: 0.1em 0.5em;
}
table.values thead th
{
    border-left: 1px solid #666666;
    border-bottom: 1px solid #666666;
    text-align: center;
    font-weight: bold;
}
table.values th.Corner
{
    text-align: left;
    border-left: 0px;
}
table.values tbody td.key
{
}
table.values tbody td.value
{
    font-family: monospace;
}
table.values tbody td.descr
{
}

