Source: codri-client
Maintainer: Tim Besard <tim.besard@gmail.com>
Homepage: https://sites.google.com/site/miraadastraiii/
Priority: extra
Build-Depends: debhelper (>= 7.0.50~), qt4-qmake, libqtwebkit-dev, libqt4-dev, liblog4qt-dev, libqt4-opengl-dev, libsvnqt2-dev, libqxt-dev, pkg-config, libasound2-dev, python2.7
Standards-Version: 3.8.4
Vcs-Git: git://github.com/MIRAvzw/codri-client.git
Vcs-Browser: https://github.com/MIRAvzw/codri-client

Package: codri-client
Section: lib
Architecture: any
Depends: libqt4-core, libqt4-gui, libqt4-webkit, liblog4qt, libqt4-opengl, libsvnqt2, libqxt-web0, libasound2, adduser ${misc:Depends}, ${shlibs:Depends}
Description: Codri client application

Package: codri-client-dbg
Section: libdevel
Architecture: any
Depends: codri-client (= ${binary:Version}), ${misc:Depends}
Description: Codri application (debug symbols)

