#!/usr/bin/make -f
%:
	dh $@
override_dh_auto_configure:
	qmake CONFIG+=debug PREFIX=/usr
override_dh_strip:
	dh_strip --dbg-package=codri-client-dbg
override_dh_auto_test:
	-$(MAKE) check
.PHONY: override_dh_strip override_dh_auto_configure override_dh_auto_test
